<atft-webgl-renderer #mainRenderer>

  <atft-perspective-camera [fov]=60 [near]=1 [far]=1100 positionX=-10 positionY=10 positionZ=50>
  </atft-perspective-camera>

  <atft-scene>

    <atft-grid-helper size=100 divisions=10></atft-grid-helper>
    <atft-axes-helper size=200></atft-axes-helper>

    <atft-point-light color="white" intensity="0.9" distance="1000" translateX=50 translateY=50 translateZ=50>
    </atft-point-light>
    <atft-point-light color="#FAFAFA" intensity="0.5" distance="1000" translateX=-50 translateY=50 translateZ=20>
    </atft-point-light>

  </atft-scene>
</atft-webgl-renderer>